#1 css solution
"body{box-shadow:0 0 0 2 in #b5e0ba,0 0 0 5 in #5D3A3A}

#2 css solution
"body{background:#62374E;}
"div{background:#FDC57B;width:50px;height:50px;display:inline-block;}
"#a{margin-top:42;margin-left:42;}
"#b{margin-left:196;}
"#c{margin-top:96;margin-left:42;}
"#d{margin-left:196;}

#3 css solution
"body{background:#6592cf;display:flex;justify-content:center;align-items:center;}
"p{margin:0;height:150;background:#243d83;position:absolute;border-radius:50%;}
"p[a]{width:300;border-radius:0;}
"p[b]{width:250;height:250;background:#6592CF;z-index:2;}
"p[c]{width:150;z-index:3;}
"p[d]{width:50;height:50;background:#EEB850;z-index:4}

#4 css solution
"body{background:#62306D;}
"div{background:#F7EC7D;height:100px;width:100px;border-radius:0 0 50px 50px;position:absolute;}
"#a{top:150px;left:50px;}
"#b{top:50px;left:150px;transform:rotate(180deg);}
"#c{top:150px;left:250px;}

#5 css solution
"body{background:#0b2429;}
"div{height:120;width:120;background:#f3ac3c;border-radius:60px;margin:30px 192px;}
"div:nth-of-type(2){margin:-30px 72px;box-shadow:60px -60px #998235;border-radius:60px 0px 60px 60px;}

#6 css solution
"body{background:#e3516e;}
"div{height:100;width:100;display:inline-block;}
"#a{background:#51B5A9;border-radius:100px 0 0 0;margin-top:42;margin-left:92;}
"#b{background:#fade8b;border-radius:0 100px 0 0;margin-top:42;margin-left:-3.7;}
"#c{background:#F7F3D7;border-radius:0 0 0 100px;height:100;width:100;margin-top:-3.7;margin-left:92;}

#7 css solution
body{background:#0b2429;}
div{width:150px;height:150px;background:#f3ac3c;margin-top:75.3;margin-left:167;border-radius:100px 0;box-shadow:-50px 0  #998235, -100px 0 #1a4341;}
