#1 css solution
"body{box-shadow:0 0 0 2 in #b5e0ba,0 0 0 5 in #5D3A3A}

#2 css solution
"body{background:#62374E;}
"div{background:#FDC57B;width:50px;height:50px;display:inline-block;}
"#a{margin-top:42;margin-left:42;}
"#b{margin-left:196;}
"#c{margin-top:96;margin-left:42;}
"#d{margin-left:196;}

#3 css solution
"body{background:#6592cf;display:flex;justify-content:center;align-items:center;}
"p{margin:0;height:150;background:#243d83;position:absolute;border-radius:50%;}
"p[a]{width:300;border-radius:0;}
"p[b]{width:250;height:250;background:#6592CF;z-index:2;}
"p[c]{width:150;z-index:3;}
"p[d]{width:50;height:50;background:#EEB850;z-index:4}

#4 css solution
"body{background:#62306D;}
"div{background:#F7EC7D;height:100px;width:100px;border-radius:0 0 50px 50px;position:absolute;}
"#a{top:150px;left:50px;}
"#b{top:50px;left:150px;transform:rotate(180deg);}
"#c{top:150px;left:250px;}

#5 css solution
"body{background:#0b2429;}
"div{height:120;width:120;background:#f3ac3c;border-radius:60px;margin:30px 192px;}
"div:nth-of-type(2){margin:-30px 72px;box-shadow:60px -60px #998235;border-radius:60px 0px 60px 60px;}

#6 css solution
"body{background:#e3516e;}
"div{height:100;width:100;display:inline-block;}
"#a{background:#51B5A9;border-radius:100px 0 0 0;margin-top:42;margin-left:92;}

"#b{background:#fade8b;border-radius:0 100px 0 0;margin-top:42;margin-left:-3.7;}
"#c{background:#F7F3D7;border-radius:0 0 0 100px;height:100;width:100;margin-top:-3.7;margin-left:92;}

#7 css solution
"body{background:#0b2429;}
"div{width:150px;height:150px;background:#f3ac3c;margin-top:75.3;margin-left:167;border-radius:100px 0;box-shadow:-50px 0  #998235, -100px 0 #1a4341;}

#8 css solution
"body{background:radial-gradient(circle at 50% 60%,#060f55 74q,#6592cf 0);padding:42 102;}
"h1{color:060F55;width:20;height:140;border-radius:21q;box-shadow:21q 0,40px -32q#6592cf,60px 0,80px -32q#6592cf,100px 0,120px -32q#6592cf,140px 0,85q 160q;}

#9 css solution
"body{background:#222730;}
"div{background:#4caab3;height:150;width:700;}
"#a{margin-top:75;}
"#b{height:250;width:250;background:#222730;margin-top:-200.5;margin-left:67;transform:rotate(45deg);}
"#c{height:150;width:150;margin-top:-200;margin-left:118;transform:rotate(45deg);}
"#d{height:50;width:50;margin-top:-100;margin-left:168;transform:rotate(45deg);background:#393e46;border-radius:100%;}

#10 css solution
"body{background:#62306d;}
"div{width:100;height:33.3;background:#f7ec7d;}
"#a{height:110;width:100;margin-top:200;margin-left:42;}
"#b{height:240;width:100;margin-top:-210;margin-left:142}
"#c{height:110;width:100;margin-top:-140;margin-left:242;}
"#d{background:#aa4457;margin-top:-160;margin-left:42;height:100;border-radius:100%;}
"#e{background:#e38f66;margin-top:-200;margin-left:142;height:100;border-radius:100%;}
"#f{background:#aa4457;height:100;border-radius:100%;margin-left:242;
"#g{background:#e38f66;height:60;width:60;border-radius:100%;margin-top:-80;margin-left:62;}
"#h{background:#aa4457;height:60;width:60border-radius:100%;margin-top:-160;margin-left:162;}
"#i{background:#e38f66;height:60;width:60;border-radius:100%;margin-top:40;margin-left:262;}

#11 css solution
"body{background:radial-gradient(circle,#84271c 25px,0,#191210 50px,0,#eca03d 70px,#191210 0);}  
"p{margin:0 42;width:100;height:50;border-radius:0 0 1in 1in;background:radial-gradient(at 50% 0,#0000 30px,#eca03d 0);}
"[k]{margin:100 242 0;transform:scaleY(-1);}

#12 css solution
"body{background:#f5d6b4;
"p{margin:0 42;width:100;height:50;border-radius:0 0 1in 1in;background:radial-gradient(at 50% 0,#0000 30px,#d86f45 0); }  
"[k]{margin:100 142;transform:scaleY(-1);}
"[l]{margin:-100 222;}
"[m]{margin:50 62;}

#13 css solution
"body{background:#0b2429;}
"div{width:0;border-style:solid;border-width:144.5px 144.5px 0 0;border-color:#f3ac3c transparent;margin-top:-10;margin-left:-10;}

#14 css solution
"body{background:#f2f2b6;}
"div{width:0;border-style:solid;}
"#a{border-width:128px 70px 180px;border-color:#fd4602 transparent transparent;margin-top:85;margin-left:80;}
"#b{margin-top:-308;border-color:#ff6d00 transparent transparent;border-width:128px 70px 0px ;margin-left:60}
"#c{border-color:#ff6d00 transparent transparent;border-width:128px 72px 0px ;transform:rotate(180deg);margin-top:-128;margin-left:187;}
"#d{border-color:#fd4602 transparent transparent;border-width:128px 72px 0px ;margin-top:-128;transform:rotate(180deg);margin-left:165;}

#15 css solution
"body{background:#09042a;}
"div{width:150;height:150;}
"#a{background:#7b3f61;border-radius:100%;margin-top:75;margin-left:67;}
"#b{background:#e78481;border-radius:100%;margin-top:-150;margin-left:167;}
"#c{background:#09042a;height:80;width:80;border-radius:92px 0px;transform:rotate(-45deg);margin-top:-114.7;margin-left:151.6;}

#16 css solution
"body{background:#0b2429;}
"div{height:70;width:70;}
"#a{height:200;width:200;background:#998235;border-radius:100px 0;transform:rotate(45deg);margin-left:92;margin-top:50;}
"#b{height:180;width:180;background:#0b2429;border-radius:100%;transform:rotate(45deg);margin-top:-190;margin-left:102;}
"#c{height:140;width:140;background:#f3ac3c;border-radius:100%;transform:rotate(45deg);margin-left:122;margin-top:-160;}
"#d{height:50;width:50;background:#0b2429;border-radius:100%;transform:rotate(45deg);margin-left:167;margin-top:-95;}

#17 css solution
"body{background:#09042a;}
"div{background:#e78481;}
"#a{height:80;width:200;border-radius:100px;margin-top:109;margin-left:92;}
"#b{background:#09042A;height:60;width:60;margin-top:-70;margin-left:102;border-radius:100%;}
"#c{background:#09042A;height:60;width:60;margin-top:-60;margin-left:222;border-radius:100%;}
"#d{background:#09042A;height:62;width:62;margin-top:-21;margin-left:160;border-radius:40px 0; transform:rotate(45deg); }
"#e{background:#09042A;height:62;width:62;margin-top:-142;margin-left:160;border-radius:40px 0; transform:rotate(45deg);}
"#f{background:#F5BB9C;height:60;width:60;margin-top:-74;margin-left:162;border-radius:100%; transform:rotate(45deg);}
"#g{background:#F5BB9C;height:60;width:60;margin-top:45;margin-left:162;border-radius:100%;transform:rotate(45deg);}

#18 css solution
"body{background:#5C434C;}
"div{height:80;width:80;border-radius:100px 0 0 0;margin-top:20;background:#F09462;}
"#a{margin-top:10;margin-left:2;}
"#b{background:#F5D6B4;margin-left:2;}
"#c{margin-left:2;}
"#d{background:#F5D6B4;margin-top:-280;margin-left:102;}
"#e{margin-left:102;}
"#f{background:#F5D6B4;margin-left:102;}
"#g{margin-top:-280;margin-left:202;}
"#h{background:#F5D6B4;margin-left:202;}
"#i{margin-left:202;}
"#j{background:#F5D6B4;margin-top:-280;margin-left:302;}
"#k{margin-left:302;}
"#l{background:#F5D6B4;margin-left:302;}

#19 css solution
"body{background:#0B2429;}
"div{height:100;width:100;background:#F3AC3C;}
"#a{margin-top:135;margin-left:142;transform:rotate(45deg)}
"#b{height:70.5;width:70.5;transform:skew(0deg, -45deg) ;background:#998235;margin-top:-155;margin-left:121;}
"#c{height:70.5;width:70.5;transform:skew(0deg, 45deg) ;background:#1A4341;margin-top:-70.89;margin-left:192;}

#20 css solution
"body{background:#62306D;}
"div{height:100;width:100;}
"#a{height:100;width:140;background:#F7EC7D;margin-top:100;margin-left:92;}
"#b{height:100;width:60;background:#E38F66;margin-top:-100;margin-left:232;}
"#c{height:40;width:40;background:#62306D;border-radius:30px;margin-top:-120;margin-left:72;}
"#d{height:40;width:40;background:#62306D;border-radius:30px;margin-top:60;margin-left:72;}
"#e{height:20;width:20;background:#62306D;border-radius:20px;margin-top:-130;margin-left:222;}
"#f{height:20;width:20;background:#62306D;border-radius:20px;margin-top:80;margin-left:222;}
"#g{height:40;width:40;background:#62306D;border-radius:30px;margin-top:-30;margin-left:272;}
"#h{height:40;width:40;background:#62306D;border-radius:30px;margin-top:-140;margin-left:272;}

#21 css solution
"body{background:#222;}
"div{height:100;width:30;background:#F2994A;}
"#a{border-radius:0 0 0 10px;margin-left:147;margin-top:58;transform:rotate(45deg);}
"#b{height:70;margin-left:144.2;margin-top:-39;border-radius:5px 0 0 0;transform:rotate(135deg)}
"#c{height:80;background:#2D9CDB;margin-top:-80.5;transform:rotate(135deg);margin-left:212.5;border-radius:10px 0 5px 0;}
"#d{height:80;background:#2D9CDB;transform:rotate(45deg);margin-left:198;margin-top:-30;}

#22 css solution
"body{background:#F5D6B4;}
"div{background:#D86F45;}
"#a{height:50;width:170;border-radius:100px;margin-left:122;margin-top:165;}
"#b{height:100;width:100;margin-top:-100;border-radius:100px;margin-left:92;}
"#c{height:100;width:100;border-radius:100px;margin-top:-130;margin-left:172;}

#23 css solution
"body{background:#F3AC3C;}
"div{background:#1A4341;}
"#a{height:200;width:200;margin-left:92;margin-top:50;}
"#b{height:100;width:100;background:#998235;margin-top:-100;margin-left:92;}
"#c{height:50;width:50;background:#F3AC3C;margin-top:-50;margin-left:142}

#24 css solution
"body{background:#62306D;}
"div{height:150;width:100;border-radius:50px 50px;background:#F7EC7D;}
"#a{background:#AA445F;margin-left:72;margin-top:50;}
"#b{background:#E38F66;margin-top:-100;margin-left:212;}
"#c{height:100; width:100;border-radius:100%;margin-top:-150;margin-left:72;}
"#d{height:100; width:100;border-radius:100%;margin-top:-100;margin-left:212;}

#25 css solution
"body{background:#998235;}
"div{height:100;width:79.7;}
"#a{background:#1A4341;border-radius:0 50px ;margin-left:102;margin-top:60;}
"#b{background:#1A4341;border-radius:50px 0 ;margin-left:202;margin-top:-20;}
"#c{background:#F3AC3C;height:80;width:60;border-radius:0 50px;margin-top:-190;margin-left:212;transform:rotate(90deg);}
"#d{background:#F3AC3C;height:80;width:60;border-radius:50px 0;transform:rotate(90deg);margin-top:40;margin-left:112;}

#26 css solution
"body{background:#6592CF;}
"div{background:#060F55;height:120;width:120;border-radius:100%;}
"#a{margin-top:40;margin-left:32;}
"#b{margin-left:232;margin-top:-120;}
"#c{margin-left:132;margin-top:-20;}
"#d{height:80;width:80;background:#6592CF;margin-top:-200;margin-left:52;}
"#e{background:#6592CF;height:80;width:80;margin-top:-80;margin-left:252;}
"#f{background:#6592CF;height:80;width:80;margin-top:20;margin-left:152;}
"#g{border-radius:0;background:#6592CF;height:100;width:400;margin-top:-140;margin-left:-8;}

#27 css solution
"body{background:#E38F66;}
"#a{height:200;width:200;
"background:#AA445F;border-radius:100%;margin-top:50;margin-left:92;}
"#b{background:#F7EC7D;height:140;width:140;border-radius:100%;margin-top:-170;margin-left:122;}
"#c{background:#AA445F;height:80;width:80;border-radius:100%;margin-top:-110;margin-left:152;}
"#d{height:60;width:60;background:#AA445F;margin-left:122;margin-top:-100;}
"#e{height:40;width:40;background:#AA445F;margin-left:152;margin-top:-78;}
'#f{background:#AA445F;height:60;width:60;margin-top:50;margin-left:192;}
"#g{background:#AA445F;height:40;width:40;margin-top:-72;margin-left:230;}

#28 css solution
"body{background:#1A4341;}
"div{background:#998235;height:50;width:50;border-radius:100%}
"#a{margin-left:62;margin-top:90;}
"#b{margin-top:-50;margin-left:132;border-radius:50px 50px 0 0;background:#F3AC3C;}
"#c{margin-left:202;margin-top:-50;border-radius:50px 50px 0 0;}
"#d{margin-left:272;margin-top:-50;background:#F3AC3C;}
"#e{margin-left:62;margin-top:20;border-radius:0 0 50px 50px;background:#F3AC3C;}
"#f{margin-left:132;margin-top:-50;}
"#g{background:#F3AC3C;margin-left:202;margin-top:-50;}
"#h{border-radius:0 0 50px 50px;margin-left:272;margin-top:-50;}

#29 css solution
"body{background:#F3AC3C;}
"div{height:194;width:194;background:#1A4341;}
"#a{margin-top:52;margin-left:95;}
"#b{background:#F3AC3C;height:190;width:190;border-radius:100%;margin-top:-288;margin-left:191;}
"#c{background:#F3AC3C;height:190;width:190;border-radius:100%;margin-left:194;margin-top:1;}
"#d{background:#F3AC3C;height:190;width:190;margin-top:-380;margin-left:;border-radius:100%;}
"#e{height:190;width:190;background:#F3AC3C;border-radius:100%;margin-top:1;margin-left:2.5}

#30 css solution
"div{width:500;}
"#a{margin-top:-8;margin-left:-8;height:50;background:#F7EC7D;}
"#b{margin-left:-8;height:50;background:#E38F66;}
"#c{margin-left:-8;height:100;background:#AA445F;}
"#d{margin-left:-8;height:100;background:#62306D;}

#31 css solution
"body{background:#AA445F;}
"div{height:100;width:200;border-radius:900px 900px 0 0;}
"#a{background:#F7EC7D;transform:rotate(270deg);margin-top:100;margin-left:17;}
"#b{background:#E38F66;transform:rotate(90deg);margin-top:-100;margin-left:167;}

#32 css solution
"div{height:200;width:50;transform:rotate(45deg);}
"#a{background:#F3AC3C;transform:rotate(135deg);margin-top:50;margin-left:167;}
"#b{background:#A3A368;margin-top:-200;margin-left:167;}
"#c{height:50;width:50;background:#FBE18C;margin-top:-125.1;margin-left:167;}

#33 css solution
"body{background:#1A4341;}
"#a{height:75;width:150;border-radius:100px 100px 0 0;background:#998235;transform:rotate(270deg);margin-top:112;margin-left:79;}
"#b{height:100;width:200;border-radius:100px 100px 0 0;transform:rotate(90deg);background:#F3AC3C;margin-top:-87;margin-left:142.3;}
"#c{height:30;width:30;border-radius:100%;background:#0B2429;margin-left:146.7;margin-top:-95.5;transform:rotate(45deg);}
"#d{transform:rotate(0deg);height:120; width:120;background:#1A4341;margin-left:192;margin-top:15;}

#34 css solution
"div{width:0;border-style:solid;transform:rotate(180deg);border-width:100px 125px 1px;margin-top:-151;margin-left:67;}
"#a{border-color:#00A79D transparent transparent;margin-top:149;}
"#b{border-color:#F5C181 transparent transparent;}
"#c{border-color:#FFEECF transparent transparent;}

#35 css solution
"body{background:#293462;}
"#a{height:150;width:100;border-radius:100px 100px 40px 40px;background:#FFF1C1;margin-top:50;margin-left:142;}
"#b{background:#FE5F55;height:50;width:30;border-radius:0 0 10px 10px;margin-left:177;}
"#c{background:#A64942;height:10;width:30;margin-top:-50margin-left:177;}

#36css solution
